html, body {
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
  font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
}

body {
  overflow: hidden;
  background-color: #000;
  background-size: 0.75em 100%, 100% 100%;
  background-attachment: fixed;
  display: flex;
  align-items: center;
}

.wrapper {
  position: relative;
  flex-grow: 1;
  margin: auto;
  max-width: 1200px;
  max-height: 1000px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 2vmin;
  justify-items: center;
  align-items: center;
}

.tiles {
  z-index: 1;
  grid-column: span 2;
  max-width: 100%;
  margin-bottom: -52%;
  cursor: pointer;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
          clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  transform: scale(1);
  transition: all 0.22s;
}

.tiles:nth-child(7n+1) {
  grid-column: 2/span 2;
}

.tiles:hover {
  z-index: 2;
  transform: scale(1.25);
}

.tiles:nth-child(4), .tiles:nth-child(7) {
  opacity: 0%;
  pointer-events: none;
}

.overlay {
  height: 100%;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  backdrop-filter: blur(5px);
  background-color: rgba(0,0,0,0.9);
  overflow-x: hidden;
  opacity: 0;
  visibility: hidden;
  transition: all 0.1s ease-in-out;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.2s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.profile-img,
.desc {
  width: 40%;
  height: fit-content;
}

.profile {
  display: flex;
  height: 100%;
  align-items: center;
  color: #fff;
  justify-content: space-around;
}

.profile-img {
  animation: fadeIn 0.5s, slide 0.5s;
  -webkit-animation: fadeIn 0.5s, slide 0.5s;
  -moz-animation: fadeIn 0.5s, slide 0.5s;
  -o-animation: fadeIn 0.5s, slide 0.5s;
  -ms-animation: fadeIn 0.5s, slide 0.5s;
}

.desc {
  animation: fadeIn 0.5s, rev-slide 0.5s;
  -webkit-animation: fadeIn 0.5s, rev-slide 0.5s;
  -moz-animation: fadeIn 0.5s, rev-slide 0.5s;
  -o-animation: fadeIn 0.5s, rev-slide 0.5s;
  -ms-animation: fadeIn 0.5s, rev-slide 0.5s;
}

.desc h1 {
  font-size: 3em;
  line-height: 1.1em;
  margin: 0;
}

.desc h3 {
  font-size: 1.25em;
  color: #a0a0a0;
  margin: 0;
}

.desc p {
  margin: 2em 0;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes slide {
  from {
    margin-left: -40px;
   }

  to {
    margin-left: 0px;
   }
}

@keyframes rev-slide {
  from {
    margin-right: -40px;
  }

  to {
    margin-right: 0px;
  }
}

@media (max-width: 767px) {
  .wrapper {
    transform: rotate(90deg);
    margin: 0;
    min-width: 300px;
    position: auto;
  }
  .tiles {
    transform: rotate(-90deg);
  }
  .profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin-top: 50px;
  }

  .profile-img {
    width: auto;
    max-width: 80%;
    height: auto;
    margin-bottom: 20px;
  }
  .desc {
    width: 80%;
  }
}